/* Reset podstawowych styli */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	border: 20px solid #e7a109;
	padding: 20px;
}

/* Reset list */
ul,
ol {
	list-style: none;
}

/* Reset linków */
a {
	text-decoration: none;
	color: inherit;
}

/* Reset obrazów */
img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Reset tabel */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset formularzy */
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/* Usunięcie outlines dla elementów nie-fokusowanych */
*:focus:not(:focus-visible) {
	outline: none;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.wrap {
	width: 650px;
	height: 200px;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 10px;
}

.wrap p {
	font-size: 1.2rem;
	color: #fff;
	display: block;
}

.wrap3 {
    background-color: green;
}


.wrap4 {
    background-color: blue;
}

nav {
    margin-bottom: 20px;
    background-color: #f8f8f8;
}

nav ul {
    display: flex;

}

nav ul li a {
    background-color: #e7a109;
    padding: 10px;
    margin-right: 20px;
}